{% extends "main/mainbase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="container-fluid row px-2">
        <div class="col-12">
            <h1 class="text-center py-2">Your Groups</h1>
        </div>
        <div class="col-12 ">
            <p class="text-center py-2">These are the groups you're currently in.</p>
        </div>
        {% for group in groups %}
        <div class="col-12">
            <a href="/group/{{group.id}}" class="text-decoration-none text-light">
                <div class="container-fluid shadow bg-body-tertiary p-4 rounded-4 h-100 border border-1 border-secondary text-center">
                    <h4>{{group.name}}</h4>
                    <hr>
                    <iframe src="/group/{{group.id}}" class="container-fluid"></iframe>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}