{% extends "base.html" %}

{% block body %}
<div class="d-flex flex-wrap container-fluid vh-100 w-100 p-3 align-content-start">
  <div class="col-12 p-0 mb-3" style="height: 100px;">
    <div class="d-flex justify-content-between container-fluid shadow-lg bg-body-tertiary p-4 rounded-4 h-100 border border-1 border-tertiary">
      <a href="/" class="text-decoration-none text-light">
        <img src="{{ url_for('static', filename='images/placeholder.svg') }}" alt="Menu" width="50" height="54" class="d-inline-block align-middle">
        <h1 class="d-inline-block align-middle px-2">Splits</h1>
      </a>
      <a class="float-end text-light text-decoration-none" href="/profile">
        <h3 class="d-inline-block px-2 align-middle">{{ current_user.name }}</h3>
        <img src="{{ url_for('static', filename='images/placeholder.svg') }}" alt="Profile" width="50" height="54" class="d-inline-block align-middle">
      </a>
    </div>
  </div>
  <div class="p-0 m-0 flex-fill align-self-stretch">
    <div class="container-fluid shadow-lg bg-body-tertiary p-4 rounded-4 h-100 border border-1 border-tertiary">
      {% block content %} 
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}